* {
  margin: 0;
  padding: 0;
}
body {
  color: white;
  font-family: arial, sans-serif, "Anton";
  display: flex;
}

main {
  flex: 1;
}

.section {
  max-width: 70em;
  display: flex;
  flex-wrap: wrap;
  margin: 0px auto;
}

p, h1 {
  margin: 0px;
  padding: 0px;
}

p {
  font-size: 1.2rem;
}

li {
  list-style: none;
}