#heading-container {
  height: 100vh;
  background-image: url(/images/heading2.svg); 
  background-size: cover;
  background-position: center bottom;
  }

  #heading-container .section {
    height: 100%;
  }

 .container-left, .container-right {
  min-width: 20rem;
  width: 100%;
  margin: 0 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  flex: 1;
  text-align: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
 }

 #heading-container .container-left {
  gap: 1;
 }

 #heading-container img {
  margin: 0 auto;
  width: 20rem; 
}

#heading-container .container-left p {
  margin: 0;
  font-size: 1.3rem;
  color: white;
  text-align: center;
  font-family: "Anton";
}

#heading-container p:first-letter {
  text-transform: uppercase;
}

#event-container {
  font-family: Arial, Helvetica, sans-serif;
  background-color: white;
  color: black;
  width: 100%;
  min-height: 20rem;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 400px;
}

#event-container .event-menu {
  text-align: center;
  margin-top: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

#event-container .event-menu button {
  width: 100%;
  background: none;
  border: none;
  font-size: 2rem; /* Initial font size */
  cursor: pointer;
  transition: transform 0.3s ease-in-out; /* Apply transition to transform property */
}

#event-container .event-list {
  margin-top: 1rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  text-align: center;

}

.event-list ul {
  width: 100%;
}


#noEventsMessage {
  display: none;
  margin-top: 5rem;
}


.event-list li {
  margin-bottom: 1rem;
}

.event-list a {
  width: 100%;
  text-decoration: none;
}


#event-container a, #event-container  p {
  color: black;
}



#event-container .event-menu button:hover {
  transform: scale(1.25); /* Scale the button to 1.25 times its original size */
}

#event-container .event-menu h1 {
  margin: 0;
}

.event-button {
  text-align: center;
  color: black;
  text-decoration: none;
  font-size: 1rem;
  padding: 1rem;
  background-color: white;
  border: none;
  border-top: black 2px solid;
  border-radius: 0 0 1rem 1rem;
}

  /* about section */

#about-container {
  padding-bottom: 10px;
  text-align: left;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #ee645aff;
  }

#about-container .section {
  flex-wrap: wrap-reverse;
  row-gap: 3rem;
}

#about-container .container-right {
  align-items: center;
  justify-content: space-between;
}
#about-container img {
  width: 20rem;
  border-radius: 1rem;
}

#about-container .button {
  text-decoration: none;
  text-align: center;
  color: black;
  background-color: white;
  border: none;
  border-radius: 2rem;
  padding: 1rem 0;
  width: 70%;
}

.blog-devider {
  background-image: url(/images/blogdevider.svg); 
  background-size: cover;
  background-position: center top;
  height: 0;
  width: 100%;
  background-repeat: no-repeat;
  padding-top: 22.5%;
  margin-top: -1px;
  margin-bottom: -1px;
}

#blog-container {
  background-color: #846CAE;
}


#blog-container  p:first-letter {
  text-transform: uppercase;
}

.blog-widget {
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  background-color: white;
  color: black;
  width: 100%;
  min-height: 20rem;
  border-radius: 1rem;
}
.post-list {
  height: 100%;
  width: 100%;
  text-align: center;
}

.post-list li {
  margin-bottom: 1rem;
}
.blog-list, .blog-list a {
  width: 100%;
}

.blog-widget h1 {
  text-align: center;
  margin-top: 1rem;
  text-align: center;
}

.blog-list {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.blog-list a {
  text-decoration: none;
  color: black;
}


.nieuwsbrief-devider {
  background-image: url(/images/nieuwsbriefdevider.svg); 
  background-size: cover;
  background-position: center top;
  height: 0;
  width: 100%;
  padding-top: 22.5%;
  margin-top: -1px;
  margin-bottom: -1px;
}

#nieuwsbrief-container {
  background-color: #178BAA;
}

#nieuwsbrief-container .section h1 {
  text-align: center;
  margin-bottom: 2rem;
}

#nieuwsbrief-container .section {
  display: block;
  text-align: center;
  max-width:  600px
}

.mailing-form {
  margin:auto;
  padding: 0 2rem;
  max-width: 35rem;
  display: flex;
  flex-direction: row;
  justify-content:center;
}

.contact-devider {
  background-image: url(/images/contactdevider.svg); 
  background-size: cover;
  background-position: center top;
  height: 0;
  width: 100%;
  background-repeat: no-repeat;
  padding-top: 22.5%;
  margin-top: -1px;
  margin-bottom: -1px;
}

#contact-container {
  padding-top: 7rem;
  background-color: #F69C33;
}
#contact-container a, #steunons-container a{
  color: white;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}

#contact-container a:hover, #steunons-container a:hover {
  transform: scale(1.25);
}

#contact-container .container-right {
  display: flex;
  flex-direction: column;
  align-items: end;
}


.steunons-devider {
  margin-top: -70px;
  background-image: url(/images/steunonsdevider.svg); 
  background-size: cover;
  background-position: center top;
  height: 0;
  width: 100%;
  background-repeat: no-repeat;
  padding-top: 22.5%;
  margin-bottom: -1px;
}

#steunons-container {
  background-color: #EE645A;
  color: white;
  padding-top: 5rem;
}
#steunons-container .section {
  display: flex;
  flex-wrap: wrap-reverse;
  padding-bottom: 3rem;
}
#steunons-container .container-left {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-evenly;
}

.footer-devider {
  background-image: url(/images/footerdevider.svg); 
  background-size: cover;
  background-position: center top;
  height: 0;
  width: 100%;
  background-repeat: no-repeat;
  padding-top: 9.6%;
  margin-top: -4px;

}

#footer-container {
  height: auto;
  align-items: center;
  justify-content: center;
  background-color: #846CAE;
}



#footer-container .container-left .socials {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-content: center;
  font-size: 2rem;
}


.socials li {
  padding: 1rem;
}

#footer-container a {
  color: white;
}

#footer-container p {
  font-size: 0.8rem;
}
#footer-container .container-right {
  display: flex;
  flex-direction: column;
}

#footer-container .footermenu {
display: flex;
justify-content: space-evenly;
flex-wrap: wrap;
}

#footer-container .container-right a {
  color: white;
  text-wrap: nowrap;
  text-decoration: none;
  margin-right: 1rem;
  margin-top: 1rem;
}

#footer-container img {
  width: 10rem !important
}


@media screen and (min-width: 0px) and (max-width: 703px) {

  #heading-container {
    height: 50rem;
    background-image: url(/images/heading2.svg); 
    background-size: 2000px;
    background-position: center bottom;
    }

#heading-container img {
  margin-top: 2rem;
  width: 200px;
}
#heading-container .container-left {
  margin-top: 5rem;
  justify-content: space-between;
}

#about-container {
  padding-top: 2rem;
}


#contact-container , #about-container, #steunons-container {
  padding: 0;
  padding-bottom: 1rem;
}

.section {
  padding-top: 3rem;
}

#heading-container .section {
  padding: 0;
}

.devider {
  display: none;
}

#contact-container .container-right, #steunons-container .container-left {
  margin-top: 2rem;
  flex-direction: column;
  align-items: center;
}

}