.li-header {
  padding-top: 4rem;
  text-align: center;
}

main {
  min-height: 100vh;
}


#list-page {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0;
  background-color: #846CAE;
  min-height: 100%;
}

.listpage-items {
  height: 400px;
  margin-top: 3rem;
  font-family: arial;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  gap:  2rem
}


.listpage-items li a {
  color: white;
  text-decoration: none;
  font-size: 2rem;
}

#footer-container {
  bottom: 0px;
}