#single-page {
min-height: 100vh;
display: flex;
flex-direction: column;
justify-content: space-between;
background-color: #846CAE;

}

.single-section {
  height: 100%;
  max-width: 70em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0px auto;
}

#single-page h2 {
  margin-top: 1rem;
  margin-bottom: .2rem;
}

#single-page h4::first-letter {
text-transform: uppercase;
}

#single-page img {
max-width: 400px;
}

.meta {
  text-align: center;
}

.article-info {
  padding-top: 5rem;
  text-align: center;
}

article {
  margin-top: 2rem;
  height: 100%;
}

img[src$='#center']
{
  display: block;
  margin: 0.7rem auto; /* you can replace the vertical '0.7rem' by
                          whatever floats your boat, but keep the
                          horizontal 'auto' for this to work */
  /* whatever else styles you fancy here */
}

img[src$='#floatleft']
{
  float:left;
  margin: 0.7rem;      /* this margin is totally up to you */
  /* whatever else styles you fancy here */
}

img[src$='#floatright']
{
  float:right;
  margin: 0.7rem;      /* this margin is totally up to you */
  /* whatever else styles you fancy here */
}


.single-section p, .single-section h1, .single-section h2, .single-section h3, .single-section h4, .single-section h5 {
  margin: 1rem auto;
  
}