{{ define "main"}}
<main>
  <div id="heading-container">
    <div class="section">
        <div class="container-left">
          <img src="images/logo.svg" alt="">
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt sint dolorum excepturi rerum aliquid delectus nobis dolore quisquam magni, tenetur voluptas vel iure minima ipsum voluptates placeat labore! Ad, quia?</p>
        </div>
        <div class="container-right">
          <div id="event-container">
            <div class="event-menu">
              <button><i class="fa-solid fa-arrow-left"></i></button>
              <h1>Maart 2024</h1>
              <button><i class="fa-solid fa-arrow-right"></i></button>
          </div>
          <div class="event-list">
            <li> 13:14 5 maart 24 - bingo</li>
            <li>14:20 7 april 24 -</li>
            <li>14:20 7 april 24 -</li>
            <li>14:20 7 april 24 -</li>
          </div>
          <a href="#" class="event-button">Bekijk alle events...</a>
          </div>
        </div>
    </div>
  </div>
  <div id="about-container">
    <div class="section">
    <div class="container-left">
      <img src="images/about.jpeg" alt="">
    </div>
    <div class="container-right">
      <h1>Over ons</h1>
      <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Molestias sed aut cumque placeat libero quasi eius consequuntur tenetam corporis! Quaerat, dcorporis! Quaerat, distinctio laboriosam
      </p>
      <a href="#" class="button">Lees veder...</a> 
    </div>
  </div>
  </div>
  <div class="blog-devider"></div>
  <div id="blog-container">
    <div class="section">
    <div class="container-left">
      <h1>Blog</h1>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur voluptatibus impedit voluptatum nesciunt, aperiam laboriosam maiores eum, earum delectus, temporibus officiis fugit iusto. Impedit nobis facere at, consequuntur beatae laudantium?</p>
    </div>
    <div class="container-right">
      <div class="blog-widget">
        <h1>Recente Blogs</h1>
        <div class="post-list">
          {{ range .Pages }}
          <li>
            <a href="{{ .RelPermalink }}">{{ .Date.Format "2006-01-02" }} | {{ .LinkTitle }}</a>
          </li>
        {{ end }}

        </div>
        <a href="#" class="event-button">Bekijk alle blogs...</a>
      </div>
    </div>
  </div>
  </div>
  <div class="nieuwsbrief-devider"></div>
  <div id="nieuwsbrief-container">
    <div class="section">
      <h1>Nieuwsbrief</h1>
      <form action="" class="mailing-form">
        <input class="email-input" type="text" placeholder="Vul hier uw email adress in..">
        <input class="button-input" type="button" value="Verstuur">
      </form>
    </div>
  </div>
</main>
{{ end }}