{{ define "main"}}
<main>
  <div id="heading-container">
    <div class="section">
        <div class="container-left">
          <img src="images/logo.svg" alt="">
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt sint dolorum excepturi rerum aliquid delectus nobis dolore quisquam magni, tenetur voluptas vel iure minima ipsum voluptates placeat labore! Ad, quia?</p>
        </div>
        <div class="container-right">
          <div id="event-container">
            <div class="event-menu">
              <button><i class="fa-solid fa-arrow-left"></i></button>
              <h1>Maart</h1>
              <button><i class="fa-solid fa-arrow-right"></i></button>
          </div>
          <div class="event-list">

          </div>
          <button class="event-button">Bekijk alle events...</button>
          </div>
        </div>
    </div>
  </div>
  <div id="about-container">
    <div class="section">
    <div class="container-left">
      <img src="images/about.jpeg" alt="">
    </div>
    <div class="container-right">
      <h1>Over ons</h1>
      <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Molestias sed aut cumque placeat libero quasi eius consequuntur tenetam corporis! Quaerat, dcorporis! Quaerat, distinctio laboriosam
      </p>
      <button>Lees veder...</button> 
    </div>
  </div>
  </div>
  <div class="blog-devider"></div>
  <div id="blog-container">
    <div class="section">
    <div class="container-left">
      <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ipsum mollitia esse aspernatur, voluptate cupiditate eos nam dignissimos minus, sunt ratione debitis possimus excepturi ea delectus quas voluptatibus a consequuntur quisquam.
      Voluptatem aperiam iure ab vero excepturi voluptates ipsa magni quos. Dolorem quasi optio voluptatibus nisi cum explicabo eius! Totam quibusdam fugit minus at ut sed cupiditate asperiores doloremque provident quam!
      Nisi architecto illo, laborum animi, consequuntur excepturi dolor voluptates delectus neque officiis suscipit vel? Ea officiis repellat quas labore sunt est quam, non architecto, iure aliquid molestias inventore impedit voluptate.
      Maiores vel illo consequuntur! Esse, neque maiores, eaque a dolore temporibus ut laborum sapiente excepturi, nihil quaerat repellendus quasi? Aliquam illo tenetur dolor quos, hic quisquam eum eos! Velit, obcaecati.
      Corporis, optio dolores, magni quasi omnis doloremque beatae error ut esse voluptatum tenetur rem repellendus distinctio dolorum sunt tempore quos atque at cumque adipisci voluptatem. Quam sapiente nulla tenetur quo?</p>
    </div>
    <div class="container-right">
      <h1>Over ons</h1>
    </div>
  </div>
  </div>
</main>
{{ end }}