{{ define "main"}}
<main>
  <div id="heading-container">
    <div class="section">
        <div class="container-left">
          <img src="images/logo.svg" alt="">
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt sint dolorum excepturi rerum aliquid delectus nobis dolore quisquam magni, tenetur voluptas vel iure minima ipsum voluptates placeat labore! Ad, quia?</p>
        </div>
        <div class="container-right">
          <div id="event-container">
            <div class="event-menu">
              <button><i class="fa-solid fa-arrow-left"></i></button>
              <h1>Maart</h1>
              <button><i class="fa-solid fa-arrow-right"></i></button>
          </div>
          <div class="event-list">

          </div>
          <button class="event-button">Bekijk alle events...</button>
          </div>
        </div>
    </div>
  </div>
  <div id="about-container">
    <div class="section">
    <div class="container-left">
      <img src="images/about.jpeg" alt="">
    </div>
    <div class="container-right">
      <h1>Over ons</h1>
      <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Molestias sed aut cumque placeat libero quasi eius consequuntur tenetam corporis! Quaerat, dcorporis! Quaerat, distinctio laboriosam
      </p>
      <button>Lees veder...</button> 
    </div>
  </div>
</main>
{{ end }}