#heading-container {
  height: 100vh;
  background-image: url(/images/heading2.svg); 
  background-size: cover;
  background-position: center bottom;
  }

  #heading-container .section {
    height: 100%;
  }

 .container-left, .container-right {
  min-width: 20rem;
  width: 100%;
  margin: 0 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  flex: 1;
 }

 #heading-container img {
  margin: 0 auto;
  width: 20rem; 
}

#heading-container p {
  margin: 0;
  font-size: 1.2rem;
  color: white;
  text-align: center;
}


#event-container {
  font-family: Arial, Helvetica, sans-serif;
  background-color: white;
  color: black;
  width: 100%;
  min-height: 20rem;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#event-container .event-menu {
  text-align: center;
  margin-top: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

#event-container .event-menu button {
  width: 100%;
  background: none;
  border: none;
  font-size: 2rem; /* Initial font size */
  cursor: pointer;
  transition: transform 0.3s ease-in-out; /* Apply transition to transform property */
}

#event-container .event-list {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

#event-container .event-menu button:hover {
  transform: scale(1.25); /* Scale the button to 1.25 times its original size */
}

#event-container .event-menu h1 {
  margin: 0;
}

.event-button {
  text-align: center;
  color: black;
  text-decoration: none;
  font-size: 1rem;
  padding: 1rem;
  background-color: white;
  border: none;
  border-top: black 2px solid;
  border-radius: 0 0 1rem 1rem;
}

  /* about section */

#about-container {
  padding-bottom: 10px;
  text-align: left;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #ee645aff;
  }

#about-container .section {
  flex-wrap: wrap-reverse;
  row-gap: 3rem;
}

#about-container .container-right {
  align-items: stretch;
  justify-content: space-between;
}
#about-container img {
  width: 20rem;
  border-radius: 1rem;
}

#about-container .button {
  text-decoration: none;
  text-align: center;
  color: black;
  background-color: white;
  border: none;
  border-radius: 2rem;
  padding: 1rem 0;
  width: 70%;
}




.blog-devider {
  background-image: url(/images/blogdevider.svg); 
  background-size: cover;
  background-position: center top;
  height: 0;
  width: 100%;
  background-repeat: no-repeat;
  padding-top: 22.5%;
  margin-top: -1px;
  margin-bottom: -1px;
}

#blog-container {
  background-color: #846CAE;
}

.blog-widget {
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: white;
  color: black;
  width: 100%;
  height: 3rem;
  min-height: 20rem;
  border-radius: 1rem;
}



.blog-widget h1 {
  text-align: center;
  margin-top: 1rem;
  text-align: center;
}


.nieuwsbrief-devider {
  background-image: url(/images/nieuwsbriefdevider.svg); 
  background-size: cover;
  background-position: center top;
  height: 0;
  width: 100%;
  background-repeat: no-repeat;
  padding-top: 22.5%;
  margin-top: -1px;
  margin-bottom: -1px;
}

#nieuwsbrief-container {
  height: 700px;
  background-color: #178BAA;
}

#nieuwsbrief-container .section h1 {
  text-align: center;
  margin-bottom: 2rem;
}

#nieuwsbrief-container .section {
  display: block;
}

.mailing-form {
  margin:auto;
  padding: 0 2rem;
  max-width: 35rem;
  display: flex;
  flex-direction: row;
  justify-content:center;
}

.email-input {
  flex-grow: 1;
  text-align: center;
  background-color: white;
  border: none;
  border-radius: 3rem 0 0 3rem;
  height: 3rem;
}

.button-input {
  font-size: 1rem;
  padding-right: 1rem;
  margin-left: -1.5rem;
  border: none;
  background-color: white;
  border-radius: 3rem;;
  cursor: pointer;
}


@media screen and (min-width: 0px) and (max-width: 703px) {

#heading-container img {
  margin-top: 2rem;
  width: 200px;
}

  .container-right {
    justify-content: start;
    margin-top: 2rem;
  }

  #about-container .container-right {
    align-items: center;
    text-align: center;
  }
}