#main {
  width: 70em;
}


#single-page {
  display: flex;
  flex-direction: column;
    background-color: #846CAE;
  align-items: center;
  }


  #single-page #content {
    max-width: 70em;
  }
  #single-page #title {
    text-align: center;
    font-size: 2rem;
    padding: 2rem 0;
  }

  #single-page h4::first-letter {
text-transform: uppercase;
  }

  #single-page img {
  width: 20rem;
  }
  .meta {
    font-size: 1.2em;
    text-align: center;
    padding: 1.5rem;
  }