<div id="mc_embed_shell">
  
    <div id="mc_embed_signup">
        <h1 class="subscribe">Signup here to get notified whenever i publish something😍</h1>
        <form action="https://liaminwards.us21.list-manage.com/subscribe/post?u=093817fd247b1c3f25b8b5d20&amp;id=9642a02ae2&amp;f_id=00c460e1f0" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_self" novalidate="">
                <div class="mc-field-group"><input type="email" name="EMAIL" class="required email" id="mce-EMAIL" placeholder="Email Adress"></div>
            <div id="mce-responses" class="clear foot">
                <div class="response" id="mce-error-response" style="display: none;"></div>
                <div class="response" id="mce-success-response" style="display: none;"></div>
            </div>
        <div style="position: absolute; left: -5000px;" aria-hidden="true">
        /* real people should not fill this in and expect good things - do not remove this or risk form bot signups */
            <input type="text" name="b_093817fd247b1c3f25b8b5d20_9642a02ae2" tabindex="-1" value="">
        </div>
            <div class="optionalParent">
                <div class="clear foot">
                    <input type="submit" name="subscribe" id="mc-embedded-subscribe" class="button" value="Subscribe">
                    
                </div>
            </div>
        </div>
    </form>
    </div>
    </div>
    