<header>
  <nav class="navbar">
    <i class="fa-solid fa-bars burger"></i>
    <ul id="nav">
      <li class="menu-item"><a href="#"><i class="fa-solid fa-circle-info"></i><p>Over Ons</p></a></li>
      <li class="menu-item"><a href="#"><i class="fa-solid fa-blog"></i><p>Blog</p></a></li>
      <li class="menu-item"><a href="#"><i class="fa-solid fa-envelope"></i><p>NieuwsBrief</p></a></li>
      <li class="menu-item"><a href="#"><i class="fa-solid fa-at"></i><p>Contact</p></a></li>
      <li class="menu-item"><a href="#"><i class="fa-solid fa-handshake-angle"></i><p>Steun Ons!</p></a></li>
    </ul>
  </nav>
</header>