<header>
  <nav class="navbar">
    <i class="fa-solid fa-bars burger" id="burger"></i>
    <ul id="nav">
      {{ $baseURL := .Site.BaseURL }}
      {{ $currentPath := .RelPermalink }}
      {{ $isBaseURL := eq $currentPath "/" }}
      <li class="menu-item"><a href="{{ if not $isBaseURL }}{{ $baseURL }}{{ end }}#heading-container"><i class="fa-solid fa-house"></i><p>Home</p></a></li>
      <li class="menu-item"><a href="{{ if not $isBaseURL }}{{ $baseURL }}{{ end }}#about-container"><i class="fa-solid fa-circle-info"></i><p>Over Ons</p></a></li>
      <li class="menu-item"><a href="{{ if not $isBaseURL }}{{ $baseURL }}{{ end }}#blog-container"><i class="fa-solid fa-blog"></i><p>Blog</p></a></li>
      <li class="menu-item"><a href="{{ if not $isBaseURL }}{{ $baseURL }}{{ end }}#nieuwsbrief-container"><i class="fa-solid fa-envelope"></i><p>NieuwsBrief</p></a></li>
      <li class="menu-item"><a href="{{ if not $isBaseURL }}{{ $baseURL }}{{ end }}#contact-container"><i class="fa-solid fa-at"></i><p>Contact</p></a></li>
      <li class="menu-item"><a href="{{ if not $isBaseURL }}{{ $baseURL }}{{ end }}#steunons-container"><i class="fa-solid fa-handshake-angle"></i><p>Steun Ons!</p></a></li>
    </ul>
  </nav>
</header>
